*{
    margin: 0;
    padding: 0;
}

.slider{
    width: 200%;
    background-color: red;
    
}
.slides{
    width: 50%;
    overflow: hidden;
    background-color: green;


}
.screen{
    display: flex;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;

}
.slide img{
    width: 200px;
    height: 200px;
    margin: 13px;

}